# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
coverage
/dist
/dist.tar.gz

# ide
.idea

# Mac General
.DS_Store
.AppleDouble
.LSOverride

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# Mac General
.DS_Store
.AppleDouble
.LSOverride

# umi
.umi
.umi-production

# jslingui
# src/locales/_build
# src/locales/**/*.js

.vscode
